$WIDTH-MOBILE: 600px;
$WIDTH-TABLET: 768px;
$WIDTH-DESKTOP: 1200px;

$FONTFAMILY-BASIC: 'Inter', sans-serif;

$FONT-SIZE-HTML-VALUE: 16;
$FONT-SIZE-HTML: 16px;

$COLOR-TRANSPARENT: transparent;

$PRIMARY-TEXT: rgba(var(--primary-text, 219, 219, 219), 1);
$SECONDARY-TEXT: rgba(var(--secondary-text, 176, 176, 176), 1);
$ACCENT-TEXT: rgba(var(--accent-text, 37, 192, 174), 1);
$CONTRACT-TEXT: rgba(var(--contract-text, 32, 32, 32), 1);

$BODY-BACKGROUND: rgba(var(--body-text, 18, 18, 18), 1);
$SIDEBAR-BACKGROUND: rgba(var(--sidebar-text, 16, 16, 16), 1);
$INTERACTIVE-BACKGROUND: rgba(var(--interactive-background, 24, 24, 24), 1);
$ACCENT-BACKGROUND: rgba(var(--accent-text, 37, 192, 174), 1);
$LOADING-BACKGROUND: rgba(var(--loading-text, 34, 34, 34), 1);

$HOVER-OVERLAY: rgba(var(--hover-overlay, 255, 255, 255), 0.04);
$MODAL-OVERLAY: rgba(var(--modal-overlay, 255, 255, 255), 0.06);

$DIVIDER: rgba(var(--primary-text, 29, 29, 29), 1);
