$WIDTH-MOBILE: 600px;
$WIDTH-TABLET: 768px;
$WIDTH-DESKTOP: 1200px;

$FONTFAMILY-BASIC: 'Inter', sans-serif;

$FONT-SIZE-HTML-VALUE: 16;
$FONT-SIZE-HTML: 16px;

$COLOR-TRANSPARENT: transparent;
$COLOR-WHITE: rgb(255, 255, 255);
$COLOR-BLACK: rgb(0, 0, 0);

$COLOR-PRIMARY: rgb(73, 101, 176);

$COLOR-NEUTRAL-1: rgb(243, 244, 246);
$COLOR-NEUTRAL-2: rgb(229, 231, 235);
$COLOR-NEUTRAL-3: rgb(209, 213, 219);
$COLOR-NEUTRAL-4: rgb(156, 163, 175);
$COLOR-NEUTRAL-5: rgb(75, 85, 99);
$COLOR-NEUTRAL-6: rgb(55, 65, 81);
$COLOR-NEUTRAL-7: rgb(31, 41, 55);
$COLOR-NEUTRAL-8: rgb(17, 24, 39);
